* {
  text-align: center;
}

body {
  background-image: url("https://cdn.glitch.global/4a801a9e-2974-474d-9539-0e496e0ffb8a/Untitled_Artwork%204.jpg?v=1644367491756");
}

h1 {
  color: #fedcbd;
  font-size: 70px;
  font-family: 'american typewriter';
  background-color: #442615;
}


a:hover {
  color: #84b8a4;
}

.link {
  font-family: 'american typewriter';
  color: #feece7;
  font-size: 30px;
  background-color: #442615;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  display: block;
  max-width: 200px;
  min-width: 200px;
  margin: 10px;
}
nav {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}