body {
  background-image: url('https://cdn.glitch.global/4a801a9e-2974-474d-9539-0e496e0ffb8a/Untitled_Artwork%204.jpg?v=1644367491756')
}

h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: 'american typewriter';
  background-color: #442615;
}

a {
  color: #ffffff;

}
.link {
  background-color: 3442615;
}