/* variables */
:root {
  --green: #84b8a4;
  --beige: #fedcbd;
  --brown: #442615;
}


* {
  text-align: center;
}

body {
  background-image: url("https://cdn.glitch.global/4a801a9e-2974-474d-9539-0e496e0ffb8a/Untitled_Artwork%204.jpg?v=1644367491756");
}

h1 {
  color: var(--beige);
  font-size: 70px;
  font-family: "Inconsolata", monospace;
  background-color: var(--brown);
  padding: 20px;
}

a {
  transition: color 0.75s ease;
}

a:hover {
  color: var(--green);
}

a:focus {
  color: var(--green);
  border: 5px dotted var(--green);
}

.link {
  font-family: "Inconsolata", monospace;
  color: var(--beige);
  font-size: 30px;
  background-color: var(--brown);
  text-align: center;
  border-radius: 50px;
  padding: 10px;
  display: block;
  max-width: 200px;
  min-width: 200px;
  margin: 10px;
}
nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
